stages:
    - validation
    - build
    - release
    - publish


variables:
    GIT_SUBMODULE_STRATEGY: recursive
    MY_PROJECT_ID: "13001358"


include:
  - project: nofusscomputing/projects/gitlab-ci
    ref: 46cc1fbb6a878e485af39e679b5184a9912c2e7f
    file:
      - conventional_commits/.gitlab-ci.yml
      - mkdocs/.gitlab-ci.yml
      - validation/.gitlab-ci.yml
      - gitlab_release/.gitlab-ci.yml


Lint Markdown:
    extends: .Lint_Markdown


Static Pages:
  extends: .MKDocs_Build


Gitlab Release:
    extends:
        - .gitlab_release


pages:
  stage: publish
  variables:
    GIT_STRATEGY: none
  script:
    - mv build public
  needs: ['Static Pages']
  environment: 
    name: staging
    url: $CI_PAGES_URL
  artifacts:
    paths:
    - public
  rules:
    - if: '$CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH != "master"'
      when: always
    - when: never


