html .md-social a[title="DockerHub"] {
  color: #0DB7ED;
}

html .md-social a[title="Facebook"] {
  color: #3B5998;

}

html .md-social a[title="Github"] {
  color: #F5F5F5;
}

html .md-social a[title="Gitlab"] {
  color: #fc6d26;
}

.docker {
  color: #0DB7ED;
}

.facebook {
  color: #3B5998;
}

.github {
  color: #333;
}

.gitlab {
  color: #fc6d26;
}

.tags {
    background-color: #4051B5;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    padding: 3px 6px;
    text-align: center;
   
}

a.tags:hover {
    color: #FFFF00;
}

.tags:link {
    color: white;
}

.tags:visited {
    color: white;
}
